/* @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    font-family: 'Montserrat', sans-serif;
} */
@font-face{
    font-family: Mon;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face{
    font-family: Monlight;
    src: url(../fonts/Montserrat-Light.ttf);
}
body{
    margin: 0;
    background-color:rgb(153, 151, 147);
    font-family: Mon;

}


.home{
    padding-left: 20px;
    float: left;

    display: block;
    text-decoration: none;
    text-align: center;
    font-family: Mon;
    font-weight: bold;
    padding-top: 15px;
    overflow: hidden;
    font-size: 20px;
    color: white;
    transition: transform .5s;
}
.home:hover{
    color: rgb(202, 29, 29);
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    transition: transform .5s;
}

.navbar{
    position: fixed;
    width: 100%;
    height:55px;
    background-color: black;
    overflow: hidden;
    box-shadow: 0 3px 7px 0 rgba(0, 0, 0, 0.35);
    display: block;
}

#navbar{
    transition: top 0.3s;
}



.nav{
    /* margin-left: auto;
    margin-right: auto; */
    text-align: center;
    float: right;
    display: block;
    
    
}

.nav a{
    overflow: hidden;
    padding-left: 60px;
    padding-right: 60px;
    display: block;
    color: white;
    overflow: hidden;
    text-decoration: none;
    float: right;
    font-family: Mon;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    /* position: relative; */
    transition: transform .2s;
    padding-top: 15px;
}


.nav  a:hover{
    color: gold;
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

/* .intro{
    float: right;
    
} */


.shortintro{
    /* background-color: rgb(185, 169, 132); */
    padding-bottom: 0px;
    overflow: hidden;
    background-image: url(images/black\ sand.jpg);
    background-size: cover;
}
.shortintro img{
    /* border-radius : 80%; */

    width: auto;
    height: 700px;
    /* vertical-align: top; */

}
.foto{
    padding-top: 130px;
    padding-left: 100px;
    /* width: fit-content; */
    padding-bottom: 0px;
    /* background-color: aqua; */
    display: flex;

    
}

.introcontent{
    padding-top: 80px;
}

.halo{
    margin-top: 100px;
    font-family: Mon;
    margin-left: 130px;
    font-size: 40px;
    font-weight: bold   ;
    color: white;
}

.myname{
    max-width: 70%;
    font-family: Mon;
    font-size: 30px;
    text-align: left;
    margin-left: 200px;
    line-height: 50px;
    color: white;
}



.eduhead {
    text-align: center;
    /* padding-top: 100px; */
    font-family: Mon;
    font-size: 70px;
    /* transition: transform .2s; */
    /* margin-top: 10%; */
    padding-top: 60px;
    color: white;
}
/* .eduhead:hover{
    
    -ms-transform: scale(1.5); 
    -webkit-transform: scale(1.5); 
    transform: scale(1.5); 
} */
.shortintro hr{
    color: black;
    margin-top: 50px;
    opacity: 0.2;
}

.edulist{
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    padding-left: 50px;
    color: white;

}

.educontent{
    background-image: url(images/blacksand.jpeg);
    background-size: cover;
}

.elementary{
    display: flex;
    padding-bottom: 30px;

}
.element{
    font-size: 50px;
    font-weight: 30px;
}

.elelist{
    list-style: none;
    font-size: 20px;
    margin-left: 500px;
    line-height: 30px;
    padding-top: 15px;
}

.junior{
    display: flex;
    padding-bottom: 30px;
}

.jun{
    list-style: none;
    font-size: 20px;
    margin-left: 320px;
    line-height: 30px;
    padding-top: 50px;
}

.junior p{
    font-size: 50px;
    font-weight: 30px;
}

.senior{
    display: flex;
    padding-bottom: 30px;

}

.sen{
    font-size: 50px;
    font-weight: 30px;
}

.senlist{
    list-style: none;
    font-size: 20px;
    margin-left: 320px;
    line-height: 30px;
    padding-top: 50px;
}
.univ{
    display: flex;
    padding-bottom: 30px;

}

.uni{
    font-size: 50px;
    font-weight: 30px;
}

.unilist{
    list-style: none;
    font-size: 20px;
    margin-left: 550px;
    line-height: 30px;
    padding-top: 50px;
}
.end{
    background-image: url(images/splash.jpeg);
    background-size: cover;
}
.procontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(images/splash.jpeg); */
    padding-bottom: 90px;
    /* background-size: cover; */
}

.procontainer h1{
    font-size: 70px;
    color: white;
}

.protop{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.protop img{
    padding: 40px;
    display: block;
    transition: transform .2s;
}

.protop img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.probot{
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.probot img{
    padding: 40px;
    display: block;
    transition: transform .2s;

}


.probot img:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}

.Contactt{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-image: url(images/contact.jpeg);
    background-size: cover; */
}

.Contactt h1{
    color: white;
}

.concon{
    display: flex;
    align-items: center;
    justify-content: center;

}

.concon img{
    height: 70px;
    padding: 30px;
    display: block;
    transition: transform .2s;

}

.concon img :hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}


html{
    scroll-behavior: smooth;
}

